name: Build

on:
  #[push, pull_request]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest
    env:
      MAKEFLAGS: -j2
    steps:
    - uses: actions/checkout@v4
    - name: Checkout submodules
      # submodules are not used by the build, but needed for `make dist`:
      run: git submodule update --init deps/json deps/pugixml
    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install \
            gettext \
            libexpat1-dev \
            libdb++-dev \
            libboost-dev \
            libboost-system-dev \
            libboost-thread-dev \
            libboost-iostreams-dev \
            liblucene++-dev \
            libicu-dev \
            libwxgtk3.2-dev \
            libwebkit2gtk-4.1-dev \
            libjavascriptcoregtk-4.1-dev \
            libnotify-dev \
            libwxgtk-webview3.2-dev \
            libgtk-3-dev \
            libgtkspell3-3-dev \
            libcld2-dev \
            libcpprest-dev \
            libsecret-1-dev \
            libpugixml-dev \
            nlohmann-json3-dev
    - name: Install ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}
    - name: Add ccache to path
      run: echo "/usr/lib/ccache" >> $GITHUB_PATH
    - name: Run bootstrap
      run: ./bootstrap
    - name: Run configure
      run: ./configure --prefix='${{ github.workspace }}/dist'
    - name: Run make distcheck
      run: make distcheck
    - name: Run make
      run: |
        mkdir -p dist
        make
        make install
    - name: Upload source tarball artifact
      uses: actions/upload-artifact@v4
      with:
        name: source-tarball
        path: poedit-*.tar.gz
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: linux-build
        path: dist
    - name: Upload entire dir
      uses: actions/upload-artifact@v4
      with:
        name: linux-full
        path: '*'

  build-macos:
    name: Build on macOS
    runs-on: macos-15
    steps:
    - name: Setup parallel submodule fetching
      run: git config --global submodule.fetchJobs 10
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Deepen git history
      run: git fetch --deepen=100000 --filter=blob:none origin ${{ github.ref }}
    - name: Install ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}
    - name: Install external dependencies
      run: brew bundle --file=macos/Brewfile
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        # see a7fdeb1b and https://mastodon.social/@siracusa/115491845898322390
        xcode-version: '~26.0.0'
    - name: Build
      run: |
        xcodebuild -workspace Poedit.xcworkspace -scheme Poedit -destination "platform=macOS,arch=arm64,name=My Mac" -parallelizeTargets -configuration Debug -archivePath Poedit.xcarchive archive
        xcodebuild -exportArchive -archivePath Poedit.xcarchive -exportPath Poedit.app -exportOptionsPlist macos/export-options.plist
    - name: Upload bundle
      uses: actions/upload-artifact@v4
      with:
        name: macos-build
        path: Poedit.app
    - name: Upload entire dir
      uses: actions/upload-artifact@v4
      with:
        name: macos-full
        path: '*'

  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    steps:
    - name: Setup parallel submodule fetching
      run: git config --global submodule.fetchJobs 10
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Deepen git history
      run: git fetch --deepen=100000 --filter=blob:none origin ${{ github.ref }}
    - uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64
    - uses: nuget/setup-nuget@v2
    - name: Restore NuGet packages
      run: nuget restore Poedit.sln
    - name: Set up environment variables
      run: |
        & .\win32\env.bat
    - name: List redist dir
      run: |
        Get-ChildItem -Path "${env:VCToolsRedistDir}" -Recurse
    - name: Build solution
      run: cd win32 && msbuild distrib.proj /p:configuration=Release
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: win32
    - name: Upload entire dir
      uses: actions/upload-artifact@v4
      with:
        name: windows-full
        path: '*'

  publish-release:
    name: Publish release tarball
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: build-linux
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: source-tarball

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          prerelease: true
          artifacts: "*.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
